// Color
$red: #ce4647;

// Images URL
$url_common : '../img/';

// Device Sizes
$breakpoints-tablet_horiz : 1349;
$breakpoints-tablet : 1024;
$breakpoints-mobile : 767;

$wrap_size : 1224px;
$wrap_size_social : 1200px;