@import "./src/_scss/_variables";
@import "./src/_scss/mixins/utilities";
@import "./src/_scss/_reset";
@import "./src/_scss/_normalize";
@import "./src/_scss/_fonts";

body{
	// font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-family: 'NotoSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	// font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #101012;
}

a{
	text-decoration: none;
}

.blind{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.pc_only{
	display: block;
	@include respondTo(mobile){
		display: none;
	}
}

.mobile_only{
	display: none;
	@include respondTo(mobile){
		display: block;
	}
}

img{
	max-width: 100%;
}

b{
	font-weight: 700;
}

/* Components */
// tags
.tags-list{
  max-width: 630px;
  margin: 110px auto 0;
  .tags-list{
    text-align: center;
    font-size: 0;
  }
  .tag{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: 34px;
    padding: 0 15px;
    border-radius: 34px;
    font-size: 13px;
    line-height: 34px;
    color: #333333;
    background-color: #cccccc;
    vertical-align: top;
    letter-spacing: -.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    & ~ .tag{
      margin-left: 7px;
    }
  }
}

// buttons
.btn{
  display: block;
  width: 180px;
  padding: 15px 24px;
  background: #ffffff;
  border: 1px solid #333333;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -.5px;
  color: #333333;
  text-align: center;
  box-sizing: border-box;
  &.btn--radius{
    border-radius: 30px;
  }
  &.btn-color{
    &--red{
      border-color: #E60012;
      background-color: #E60012;
      color: #ffffff;
    }
    &--orange{
      border-color: #ffa051;
      background-color: #ffa051;
      color: #ffffff;
    }
    &--blue{
      border-color: #008fd4;
      background-color: #008fd4;
      color: #ffffff;
    }
    &--darkBlue{
      border-color: #0062a2;
      background-color: #0062a2;
      color: #ffffff;
    }
    &--gray80{
      border-color: #7D7D7D;
      background-color: #7D7D7D;
      color: #ffffff;
    }
    &--gray50{
      border-color: #999999;
      background-color: #999999;
    }
    &--gray30{
      border-color: #C4C4C4;
      background-color: #C4C4C4;
    }
    &--gray20{
      border-color: #E3E3E3;
      background-color: #E3E3E3;
    }
    &--gray10{
      border-color: #F5F5F5;
      background-color: #F5F5F5;
    }
  }
}

// Layer-popup
.popup-open{
  overflow: hidden;
}
.popup-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
  z-index: 1000;
}

.layer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1050;
  @include respondTo(mobile){
    text-align: initial;
  }
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    @include respondTo(mobile){
      display: none;
    }
  }
  &-popup{
    display: inline-block;
    position: relative;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    text-align: left;
    vertical-align: middle;
    opacity: 0;
    @include respondTo(mobile){
      position: fixed;
      bottom: 0;
      max-width: 100%;
    }
  }
  .box{
    .popup{
      &-body{
        padding: 24px;
        background-color: #ffffff;
        border-radius: 20px 20px 0px 0px;
        color: #333333;
        h1{
          margin: 0;
          font-size: 30px;
					color: #333333;
          text-align: left;
        }
        h2{
          padding-top: 6px;
          font-size: 20px;
        }
        h3{
          padding-top: 11px;
          font-size: 15px;
        }
        a{
          display: block;
          max-width: 192px;
          margin-top: 35px;
          padding: 15px 0;
          background-color: #ce4647 ;
          border-radius: 40px;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
        }
      }
      &-footer{
        padding: 23px 16px;
        background-color: #ffffff;
				border-top: 1px solid #cccccc;
        font-size: 14px;
        font-weight: 400;
        button{
          background-color: transparent;
          border: 0 none;
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer;
          &.close{
            &-popup{
              float: right;
            }
          }
        }
      }
    }
  }
  &.in{
    .layer-popup{
      opacity: 1;
    }
  }
}

// Tabs
.tab-container{
  .tab{
    &-menu{
      background-color: #ffffff;
      border: 1px solid #ccc;
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        li{
          flex: 1;
          text-align: center;
        }
      }
    }
    &-contents{

    }
  }
}