@import "./src/_scss/_variables";
@import "./src/_scss/mixins/utilities";

// image-sprite
@mixin sprite_image($x, $y, $w, $h) {
  background-image: url($url_renewal + 'mc_summit/sprites_micro_summit.png');
  background-repeat: no-repeat;
  background-size: $w $h;
  background-position: $x $y;
  @content;
  // @content 적용 ex)
  // @include sprite_mc_summit(-63px, -73px) {
  //   width: 32px;
  //   height: 24px;
  // };
}

#wrap{
  overflow: hidden;
  position: relative;
  width: 100%;
  // max-width: 1920px;
}

// card-box
.card-boxs{
  .card-lists{
    margin: 0 -15px;
    .card-lists{
      display: inline-block;
      margin-top: 36px;
      padding: 0 15px;
      vertical-align: top;
      box-sizing: border-box;
    }
  }
  .card-box{
    overflow: hidden;
    position: relative;
    width: 300px;
    margin-top: 36px;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
  }
}

@keyframes leftFlow {
  // from {transform: translateX(0)}
  // to {transform: translateX(-50%)}
  from {transform: translateX(0)}
  to {transform: translateX(-691.5px)}
}
@keyframes rightFlow {
  // from {transform: translateX(0)}
  // to {transform: translateX(50%)}
  from {transform: translateX(0)}
  to {transform: translateX(691.5px)}
}

// flow-list
.flow-container{
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  white-space: nowrap;
}
// flow-list 총 길이 width 값 입력
// animation (left, right) left : -(총 길이 width값 절반), right)총 길이 width 값 절반)
.flow-lists{
  display: flex;
  ul{  
    li{
      display: inline-block;
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #cccccc;
      border-radius: 50%;
      vertical-align: top;
      & ~ li{
        margin-left: 20px;
      }
    }
  }
  &.flow-left{
    animation: leftFlow 10s infinite linear;
  }
  &.flow-right{
    animation: rightFlow 10s infinite linear;
  }
}